/*html { 
background: url("images/contemporary_china.png") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/

.jumbotron {
	text-align: center;
}

.col-md-12 {
	text-align: center;
	font-size: 30px;
	border: solid white 15px;

}

.btn {

}

.col-md-3 {
	margin-top: 30px;

}

